* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(241, 241, 241);
    color: black;
    border: none;
    outline: none;
    border-radius: 0;
}

.btn.double {
    grid-column: span 2;
}

.btn.triple {
    grid-column: span 3;
}
.btn:active {
    background: rgb(182, 182, 182);
}